.count {
  font-size: 30px;
  text-align: center;
  margin: 10px auto;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.plus {
  padding: 10px 20px;
  background: none;
  border: 1px solid red;
}
.minus {
  padding: 10px 20px;
  background: none;
  border: 1px solid red;
}
.reset {
  padding: 10px 20px;
  background: none;
  border: 1px solid red;
}
